:root {
    --oscuro : #022835;
    --mid : #104050;
    --main : #26596A;
    --celes : #457585;
    --claro : #6C929F;
    --blanco : #ffffff;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--blanco);
}

.bg-dark {
    background-color: var(--oscuro) !important;
}

.bg-oscuro-mid {
    background-color: var(--mid) !important;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}

.img-cold {
background-image: url(../img/coldplay-chile-2022.jpg);
background-size: cover;
background-position: center;
}
.img-metalica {
background-image: url(../img/metallica-chile-2022-sold-out.jpg);
background-size: cover;
background-position: center;
}
.img-primavera {
background-image: url(../img/primavera-sound-2022-afiche-Grande.jpg);
background-size: cover;
background-position: center;
}