:root {
    --oscuro : #022835;
    --mid : #104050;
    --main : #26596A;
    --celes : #457585;
    --claro : #6C929F;
    --blanco : #ffffff;
    --naranjo : #172457;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--blanco);
}
.bg-main{
    background-color: var(--main);
}
.bg-dark {
    background-color: var(--oscuro) !important;
}

.bg-oscuro-mid {
    background-color: var(--mid) !important;
}
.bg-claro {
    background-color: var(--claro);
}
.bg-or {
background-color: var(--naranjo);
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}

.img-cold {
background-image: url(../img/coldplay-chile-2022.jpg);
background-size: cover;
background-position: center;
}
.img-metalica {
background-image: url(../img/metallica-chile-2022-sold-out.jpg);
background-size: cover;
background-position: center;
}
.img-primavera {
background-image: url(../img/primavera-sound-2022-afiche-Grande.jpg);
background-size: cover;
background-position: center;
}
.img-min {
background-image: url(../img/31Minutos-LollaEsCultura_Feed.png);
background-size: cover;
background-position: center;
}
.img-lol {
background-image: url(../img/Lineup-Horrarios-LollaCL-2022.jpeg);
background-size: cover;
background-position: center;
} 
.img-unn {
background-image: url(../img/unnamed_opt.jpg);
background-size: cover;
background-position: center;
}

.img-fondo {
    background-image: url(../img/bgclient-op.jpg);
    background-size: cover;
    background-position: center;
    }
.buscador{
margin-top: 1.25rem;
box-sizing: inherit;
}
.mt-n1 {
    margin-top: -2.00rem !important;
  }